
.vCard-ImageLayer.witcher_thumbnail,
.preview-img.witcher_thumbnail {
    background-image: url('./witcher.png');
}
.vCard-ImageLayer.lincoln_lawyer_thumbnail,
.preview-img.lincoln_lawyer_thumbnail {
    background-image: url('./lincolin.png');
}
.vCard-ImageLayer.queens_gambit_thumbnail,
.preview-img.queens_gambit_thumbnail {
    background-image: url('./gambit.png');
}
.vCard-ImageLayer.bridgerton_thumbnail,
.preview-img.bridgerton_thumbnail {
    background-image: url('./birdgerton.png');
}
.vCard-ImageLayer.ozark_thumbnail,
.preview-img.ozark_thumbnail {
    background-image: url('./ozark.png');
}
.vCard-ImageLayer.heartstopper_thumbnail,
.preview-img.heartstopper_thumbnail {
    background-image: url('./heartstopper.png');
}
.vCard-ImageLayer.you_thumbnail,
.preview-img.you_thumbnail {
    background-image: url('./you.png');
}
.vCard-ImageLayer.dead_to_me_thumbnail,
.preview-img.dead_to_me_thumbnail {
    background-image: url('./deadtome.png');
}
.vCard-ImageLayer.umbrella_academy_thumbnail,
.preview-img.umbrella_academy_thumbnail {
    background-image: url('./umbrella.png');
}
.vCard-ImageLayer.cobra_kai_thumbnail,
.preview-img.cobra_kai_thumbnail {
    background-image: url('./cobrakai.png');
}
.vCard-ImageLayer.narcos_thumbnail,
.preview-img.narcos_thumbnail {
    background-image: url('./narcos.png');
}
.vCard-ImageLayer.sandman_thumbnail,
.preview-img.sandman_thumbnail {
    background-image: url('./sandman.png');
}
.vCard-ImageLayer.irishman_thumbnail,
.preview-img.irishman_thumbnail {
    background-image: url('./irishman.png');
}
.vCard-ImageLayer.roma_thumbnail,
.preview-img.roma_thumbnail {
    background-image: url('./roma.png');
}
.vCard-ImageLayer.chicago_7_thumbnail,
.preview-img.chicago_7_thumbnail {
    background-image: url('./chicago.png');
}
.vCard-ImageLayer.marriage_story_thumbnail,
.preview-img.marriage_story_thumbnail {
    background-image: url('./marriage.png');
}
.vCard-ImageLayer.platform_thumbnail,
.preview-img.platform_thumbnail {
    background-image: url('./platform.png');
}
.vCard-ImageLayer.devil_all_the_time_thumbnail,
.preview-img.devil_all_the_time_thumbnail {
    background-image: url('./devil.png');
}
.vCard-ImageLayer.enola_holmes_thumbnail,
.preview-img.enola_holmes_thumbnail {
    background-image: url('./enola.png');
}
.vCard-ImageLayer.old_guard_thumbnail,
.preview-img.old_guard_thumbnail {
    background-image: url('./old.png');
}
.vCard-ImageLayer.to_all_the_boys_thumbnail,
.preview-img.to_all_the_boys_thumbnail {
    background-image: url('./toall.png');
}
.vCard-ImageLayer.extraction_thumbnail,
.preview-img.extraction_thumbnail {
    background-image: url('./extraction.png');
}
.vCard-ImageLayer.bird_box_thumbnail,
.preview-img.bird_box_thumbnail {
    background-image: url('./birdbox.png');
}
.vCard-ImageLayer.midnight_sky_thumbnail,
.preview-img.midnight_sky_thumbnail {
    background-image: url('./midnight.png');
}
.vCard-ImageLayer.mother_thumbnail,
.preview-img.mother_thumbnail {
    background-image: url('./mother.png');
}
.vCard-ImageLayer.extraction_2_thumbnail,
.preview-img.extraction_2_thumbnail {
    background-image: url('./extraction2.png');
}
.vCard-ImageLayer.heart_of_stone_thumbnail,
.preview-img.heart_of_stone_thumbnail {
    background-image: url('./heartof.png');
}
.vCard-ImageLayer.killer_thumbnail,
.preview-img.killer_thumbnail {
    background-image: url('./killer.png');
}
.vCard-ImageLayer.nimona_thumbnail,
.preview-img.nimona_thumbnail {
    background-image: url('./nimona.png');
}
.vCard-ImageLayer.fall_of_usher_thumbnail,
.preview-img.fall_of_usher_thumbnail {
    background-image: url('./usher.png');
}
.vCard-ImageLayer.killers_flower_moon_thumbnail,
.preview-img.killers_flower_moon_thumbnail {
    background-image: url('./flowermoon.png');
}
.vCard-ImageLayer.dumb_money_thumbnail,
.preview-img.dumb_money_thumbnail {
    background-image: url('./dumb.png');
}
.vCard-ImageLayer.love_at_first_sight_thumbnail,
.preview-img.love_at_first_sight_thumbnail {
    background-image: url('./loveat.png');
}
.vCard-ImageLayer.good_nurse_thumbnail,
.preview-img.good_nurse_thumbnail {
    background-image: url('./good.png');
}
.vCard-ImageLayer.murder_mystery_2_thumbnail,
.preview-img.murder_mystery_2_thumbnail {
    background-image: url('./murder.png');
}
.vCard-ImageLayer.spaceman_thumbnail,
.preview-img.spaceman_thumbnail {
    background-image: url('./spaceman.png');
}
.vCard-ImageLayer.stranger_things_thumbnail,
.preview-img.stranger_things_thumbnail {
    background-image: url('./stranger.png');
}
.vCard-ImageLayer.money_heist_thumbnail,
.preview-img.money_heist_thumbnail {
    background-image: url('./money.png');
}
.vCard-ImageLayer.black_mirror_thumbnail,
.preview-img.black_mirror_thumbnail {
    background-image: url('./black.png');
}
.vCard-ImageLayer.dark_thumbnail,
.preview-img.dark_thumbnail {
    background-image: url('./dark.png');
}
.vCard-ImageLayer.bojack_horseman_thumbnail,
.preview-img.bojack_horseman_thumbnail {
    background-image: url('./bojack.png');
}
.vCard-ImageLayer.crown_thumbnail,
.preview-img.crown_thumbnail {
    background-image: url('./crown.png');
}
.vCard-ImageLayer.lucifer_thumbnail,
.preview-img.lucifer_thumbnail {
    background-image: url('./lucifer.png');
}
.vCard-ImageLayer.sweet_tooth_thumbnail,
.preview-img.sweet_tooth_thumbnail {
    background-image: url('./sweet.png');
}
.vCard-ImageLayer.outer_banks_thumbnail,
.preview-img.outer_banks_thumbnail {
    background-image: url('./outer.png');
}
.vCard-ImageLayer.firefly_lane_thumbnail,
.preview-img.firefly_lane_thumbnail {
    background-image: url('./firefly.png');
}
.vCard-ImageLayer.ginny_georgia_thumbnail,
.preview-img.ginny_georgia_thumbnail {
    background-image: url('./ginny.png');
}
.vCard-ImageLayer.shadow_bone_thumbnail,
.preview-img.shadow_bone_thumbnail {
    background-image: url('./shadow.png');
}
.vCard-ImageLayer.sweet_magnolias_thumbnail,
.preview-img.sweet_magnolias_thumbnail {
    background-image: url('./sweetmag.png');
}
.vCard-ImageLayer.locke_key_thumbnail,
.preview-img.locke_key_thumbnail {
    background-image: url('./locke.png');
}
.vCard-ImageLayer.jupiters_legacy_thumbnail,
.preview-img.jupiters_legacy_thumbnail {
    background-image: url('./jupiters.png');
}
.vCard-ImageLayer.two_popes_thumbnail,
.preview-img.two_popes_thumbnail {
    background-image: url('./the.png');
}
.vCard-ImageLayer.klaus_thumbnail,
.preview-img.klaus_thumbnail {
    background-image: url('./klaus.png');
}
.vCard-ImageLayer.mitchells_machines_thumbnail,
.preview-img.mitchells_machines_thumbnail {
    background-image: url('./themit.png');
}
.vCard-ImageLayer.el_camino_thumbnail,
.preview-img.el_camino_thumbnail {
    background-image: url('./el.png');
}
.vCard-ImageLayer.da_5_bloods_thumbnail,
.preview-img.da_5_bloods_thumbnail {
    background-image: url('./da5.png');
}
.vCard-ImageLayer.half_of_it_thumbnail,
.preview-img.half_of_it_thumbnail {
    background-image: url('./thehalf.png');
}
.vCard-ImageLayer.ma_rainey_thumbnail,
.preview-img.ma_rainey_thumbnail {
    background-image: url('./ma.png');
}
.vCard-ImageLayer.i_care_a_lot_thumbnail,
.preview-img.i_care_a_lot_thumbnail {
    background-image: url('./i.png');
}
.vCard-ImageLayer.red_notice_thumbnail,
.preview-img.red_notice_thumbnail {
    background-image: url('./red.png');
}
.vCard-ImageLayer.harder_they_fall_thumbnail,
.preview-img.harder_they_fall_thumbnail {
    background-image: url('./theharder.png');
}
.vCard-ImageLayer.army_of_the_dead_thumbnail,
.preview-img.army_of_the_dead_thumbnail {
    background-image: url('./army.png');
}
.vCard-ImageLayer.gray_man_thumbnail,
.preview-img.gray_man_thumbnail {
    background-image: url('./thegray.png');
}
.vCard-ImageLayer.dont_look_up_thumbnail,
.preview-img.dont_look_up_thumbnail {
    background-image: url('./dont.png');
}
.vCard-ImageLayer.tick_tick_boom_thumbnail,
.preview-img.tick_tick_boom_thumbnail {
    background-image: url('./tick.png');
}
.vCard-ImageLayer.adam_project_thumbnail,
.preview-img.adam_project_thumbnail {
    background-image: url('./adam.png');
}
.vCard-ImageLayer.sea_beast_thumbnail,
.preview-img.sea_beast_thumbnail {
    background-image: url('./sea.png');
}
.vCard-ImageLayer.haunting_hill_house_thumbnail,
.preview-img.haunting_hill_house_thumbnail {
    background-image: url('./haunting.png');
}
.vCard-ImageLayer.oa_thumbnail,
.preview-img.oa_thumbnail {
    background-image: url('./oa.png');
}
.vCard-ImageLayer.russian_doll_thumbnail,
.preview-img.russian_doll_thumbnail {
    background-image: url('./russian.png');
}
.vCard-ImageLayer.big_mouth_thumbnail,
.preview-img.big_mouth_thumbnail {
    background-image: url('./big.png');
}
.vCard-ImageLayer.unbreakable_kimmy_thumbnail,
.preview-img.unbreakable_kimmy_thumbnail {
    background-image: url('./unbreakable.png');
}
.vCard-ImageLayer.glow_thumbnail,
.preview-img.glow_thumbnail {
    background-image: url('./glow.png');
}
.vCard-ImageLayer.dark_crystal_thumbnail,
.preview-img.dark_crystal_thumbnail {
    background-image: url('./darkCrys.png');
}
.vCard-ImageLayer.sense8_thumbnail,
.preview-img.sense8_thumbnail {
    background-image: url('./sense8.png');
}
.vCard-ImageLayer.saw_x_thumbnail,
.preview-img.saw_x_thumbnail {
    background-image: url('./sawx.png');
}